<configuration>
  <appSettings>
    <add key="NODE_ENV" value="production" />
    <add key="APP_NAME" value="appsource" />
    <add key="isIIS" value="true" />
  </appSettings>
  <system.webServer>
    <applicationInitialization>
      <add initializationPage="/en-us/" />
    </applicationInitialization>
    <handlers>
      <!-- indicates that the app.js file is a node.js application to be handled by the iisnode module -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=15724800; includeSubDomains" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
      <mimeMap fileExtension="png" mimeType="image/png" />
      <mimeMap fileExtension="js" mimeType="application/javascript" />
      <mimeMap fileExtension="ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="OCP" stopProcessing="true">
          <match url="^([a-zA-Z]{2}(-[a-zA-Z]{2})?)/marketplace/co-sell" />
          <action type="Rewrite" url="https://cosell-prod-global-tm.trafficmanager.net/{R:1}/marketplace/co-sell?debug=true" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://cosell-prod-global-tm.trafficmanager.net/{R:1}/marketplace/co-sell?debug=true" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <rule name="OCPBackendLogin" stopProcessing="true">
          <match url="^ocp/signIn"/>
          <action type="Rewrite" url="https://cosell-prod-global-tm.trafficmanager.net/signIn" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://cosell-prod-global-tm.trafficmanager.net/signIn" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <rule name="OCPBackendCallback" stopProcessing="true">
          <match url="^ocp/callback"/>
          <action type="Rewrite" url="https://cosell-prod-global-tm.trafficmanager.net/callback" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://cosell-prod-global-tm.trafficmanager.net/callback" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
            <add input="{WARMUP_REQUEST}" pattern="1" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="./build/server/server.js" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxQueryString="3072"/>
      </requestFiltering>
    </security>
    <iisnode nodeProcessCommandLine="D:\Program Files\nodejs\16.13.0\node.exe --unhandled-rejections=warn --max-old-space-size=2048 --max-http-header-size=65536" debuggingEnabled="false" devErrorsEnabled="false" logDirectory="logs" loggingEnabled="true" node_env="production" maxConcurrentRequestsPerProcess="1024" maxNamedPipeConnectionPoolSize="1000" asyncCompletionThreadCount="20" maxNamedPipeConnectionRetry="500" nodeProcessCountPerApplication="0" promoteServerVars="HTTPS,REMOTE_ADDR" enableXFF="true" />
    <!-- You can control how Node is hosted within IIS using the following options -->
    <!--<iisnode node_env="%node_env%" nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;" nodeProcessCountPerApplication="1" maxConcurrentRequestsPerProcess="1024" maxNamedPipeConnectionRetry="3" namedPipeConnectionRetryDelay="2000" maxNamedPipeConnectionPoolSize="512" maxNamedPipePooledConnectionAge="30000" asyncCompletionThreadCount="0" initialRequestBufferSize="4096" maxRequestBufferSize="65536" watchedFiles="*.js" uncFileChangesPollingInterval="5000" gracefulShutdownTimeout="60000" loggingEnabled="true" logDirectoryNameSuffix="logs" debuggingEnabled="true" debuggerPortRange="5058-6058" debuggerPathSegment="debug" maxLogFileSizeInKB="128" appendToExistingLog="false" logFileFlushInterval="5000" devErrorsEnabled="true" flushResponse="false" enableXFF="false" promoteServerVars="" />-->
  </system.webServer>
  <system.web>
    <httpRuntime maxQueryStringLength="3072" maxUrlLength="4096"/>
  </system.web>
</configuration>
